/* Reset + base CSS */
* {
	box-sizing: border-box;
	font-family: 'Sanchez', serif;
	margin: 0;
	padding: 0;
}

/* CSS Header Tags*/
h1 {
	font-family: 'Rye', cursive;
	font-size: 1.8em;
}

header {
	display: flex;
	flex-direction: column;
}

nav {
	align-items: center;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

nav > img {
	width: 8%;
}

/* CSS Header classes */
.header_container {
	background: linear-gradient(120deg, transparent 55%, #EAC435 45%);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 8% 0;
}

.header_picture {
	align-self: stretch;
	width: 70%;
}

.header_text {
	text-align: center;
	width: 30%;
	z-index: 10;
}

.header_text h2 {
	color: #ffffff;
	font-family: 'Rye', cursive;
	font-size: 2.4em;
}

.header_text img {
	width: 50%;
}

.slash {
	align-items: center;
	background-image: url('../img/splitburger_friesbasket_woodenplate_resized.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

/* CSS Section_circle classes */
.section_circle {
	display: flex;
	flex-direction: column;
}

.circle_container,
.circle_container_reverse {
	display: flex;
	flex-wrap: wrap;
	margin: 5% 0;
}

.circle_container {
	flex-direction: row;
}

.circle_container_reverse {
	flex-direction: row-reverse;
}

.rounded_picture {
	border: 2px solid #EAC435;
	border-radius: 50%;
	margin: 0 15%;
	width: 20%;
}

.circle_container .rounded_picture {
	padding-top: 15px;
	padding-left: 15px;
}

.circle_container_reverse .rounded_picture {
	padding-bottom: 15px;
	padding-right: 15px;
}

.rounded_picture img {
	border-radius: 50%;
	width: 100%;
}

.text_section_circle {
	padding: 5% 8%;
	width: 50%;
}

/* CSS Section_stairs */
.section_stairs {
	display: flex;
	flex-direction: row;
}

.stair {
	width: 30%;
}