* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #EAC435;
  clear: both;
  height: 200px;
  width: 100%;
}

footer p {
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  margin: 12% 20% 0 20%;
  text-align: center;
  width: 60%;
}

h1 {
  color: #000;
  float: left;
  font-family: 'Rye', cursive;
  font-size: 32px;
  margin: 34px 20px;
}

h2 {
  color: #fff;
  font-family: 'Rye', cursive;
  font-size: 66px;
  margin: 0 auto;
}

header {
  background-image: url("../img/splitburger_friesbasket_woodenplate.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 80%;
  clear: both;
  height: 40em;
}

nav {
  height: 110px;
}

nav > img {
  float: left;
  height: 110px;
  margin-left: 2%;
  width: 110px;
}

p {
  font-family: 'Sanchez', serif;
  font-size: 24px;
}

.bottom_right_border {
  border-bottom: 2px solid #EAC435;
  border-right: 2px solid #EAC435;
}

.bottom_right_border img{
  height: 550px;
  width: 367px;
}

.clear {
  clear: both;
  width: 100%;
}

.half {
  width: 50%;
}

#landscape_picture {
  height: 347px;
  width: 520px;
}

.left {
  float: left;
}

.offset_bottom_right {
  margin-top: 15px;
  margin-left: 15px;
}

.offset_top_left {
  margin-bottom: 15px;
  margin-right: 15px;
}

.offset_top_right {
  height: 700px;
  margin-top: 15px;
  margin-right: 15px;
  width: 350px;
}

.right {
  float: right;
}

.right_logo_title {
  float: right;
  height: 100%;
  padding-top: 15%;
  text-align: center;
  width: 40%;
}

.right_logo_title > img {
  height: 225px;
  margin: 0 auto;
  width: 225px;
}

.rouded_border {
  border: 2px solid #EAC435;
  border-radius: 50%;
  height: 515px;
  margin: 10%;
  width: 515px;
}

.rounded_picture {
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.section_circle,
.section_stairs,
.section_alternating_pictures {
  clear: both;
  margin: 5% 0;
}

.section_alternating_pictures .left,
.section_alternating_pictures .right {
  width: 50%;
}

.section_circle .right p {
  margin: 40% 20% 0 10%;
}

.section_circle .left p {
  margin: 40% 10% 0 20%;
}

.section_stairs {
  padding: 0 5%;
}

.slash {
  background: linear-gradient(120deg, transparent 60%, #EAC435 40%);
  background-size: 100% auto;
  height: 100%;
  width: 100%;
}

.top_right_border {
  border-top: 2px solid #EAC435;
  border-right: 2px solid #EAC435;
}

.top_left_border {
  border-top: 2px solid #EAC435;
  border-left: 2px solid #EAC435;
}

.top_left_border >img {
  height: 550px;
  width: 367px;
}

.third {
  float: left;
  margin-left: 3%;
  width: 30%;
}

.third:nth-child(2) {
  margin-top: 8%;
}

.third:nth-child(3) {
  margin-top: 16%;
}

.third p {
  margin-top: 40px;
  padding-right: 15px;
}